body {
	background: url(images/gaming-pattern.png);
	background-position: center;
    background-size: auto;
}
header {
    background-color: #a3a3a3;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3%;
    padding: 1%;
    text-align: center;
    font-size: 18px;
}
iframe {
    align-items: center;
}
h1 {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}
footer {
	background-color: #a3a3a3 !important;
    text-align: center;   
}
a {
	color: #c72e2e !important;
}
a:hover {
	text-decoration: underline;
}
#dev {
	color: black;
	font-family: 'Press Start 2P', Arial, Helvetica, sans-serif !important;
	font-size: 22px;
}
#left, #right, #center {
    padding: 2%;
}
#left {
    background-color: #a384b3;
    border-radius: 5px;
    overflow-y: auto;
    height: 32.5rem;
}
#right {
    background-color: #c72e2e;
    border-radius: 5px;
    color: white;
    overflow-y: auto;
    height: 32.5rem;
}
#center {
    background-color: #ffffff;
    /* border: black solid 2px; */
    /* border-radius: 5px; */
}
#copyright {
    background-color: #cac9c9;
}

#nav, .container {
    background-color:  #a3a3a3;
}
.pick {
    font-size: 16px;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif !important;
    color: white;
}
.pickTitle {
    font-size: 25px;
    color: black;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif !important;
}